html{
	height:100%;
	overflow-y: scroll;
	display: block;
}
body{
	height:100%;
	margin: 0px;
	position: relative;
	background-color: cyan;
	display: block;
}

#wrapper{
	padding:50px 0;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}	
	
.header {
	width: 100%;
	margin-top: -50px;
	height: 50px;
	border: solid 3px #000;
	overflow: hidden;
	z-index: 1;
	position: fixed;
	background-color: #668284;
	margin-bottom: 100px;
}

.header ul{
    list-style-type: none;
}

.header li {
    float: left;
    display: inline;
    border: 2px solid #000000;
    font-family: Futura, Tahoma, sans-serif;
    color: #ffffff;
    padding: 5px;
    min-width: 75px;
    border-radius: 5px 5px;
    background-color: #999999;
    text-align: center;
}

.header img{
    float:left;
    height:35px;
    width:auto;
    padding-right:2px;
}
		
a:hover {
	font-weight: bold;
}

.content {
	position: relative;
	float: left;
	padding-top: 6px;
	padding-bottom: 6px;
	height: 100%;
	min-width: 100%;
	/*white-space: nowrap;
	overflow: auto;*/
}

#footer {
	margin-bottom: -50px;
	height: 50px;
	background-color: #668284;
	clear: both;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	text-align: center;
	color: #ffffff;
	width: 100%;
}
#footer p {
	position: relative;
	margin:0;
	padding: 0 0 1em 0;
}


/* css from Brian's original tree  (indicated by "2" at the end of name" */			

#left_view {
	height:	100%;
	min-width: 10%;
	float: left;
	border: solid 3px #c00;
	background: #fdd;
	padding-right: 1em;
}
#left_view_title {
	font-weight: bold;
	font-size: 1.2em;
}

#wrapper_right{
    padding: 70px 0;
    top:0;
    bottom:0;
    left:0;
	right:0;
	overflow: hidden;
	/*height: -webkit-calc(100% - 76px);
	height: calc(100% - 76px);	
	height: -o-calc(100% -76px);
	height: -mox-calc(100% -76px);*/
}

#right_view_header {
	margin-top: -70px;
	border: solid 3px #0c0;
	background: #dfd;
	height: 70px;
}

#right_view_content {
	border: solid 3px #00c;
	background:gray;
	height: 100%;
}

