html {
	min-height:100%;
	padding:0;
	margin:0;
	background-image: -webkit-radial-gradient(left top, ellipse closest-side, #6E6E6E 0%, #5C5C5C 100%);
}
body {
	min-height:100%;
	padding:0;
	margin:0;
	width: 100%;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
}
h1 {
	font-weight: bold;
	margin-left: 28px;
	color: #990000;
	font-size: 30px;
	line-height:0px;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
}
h2 {
	margin-left: 20px;
	font-family: 'Gotham Rounded A', 'Gotham Rounded B', sans-serif;
	font-weight: 500;
	color: red;
	font-size: 30px;
}
h2 p {
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	line-height:0px;
}
h3 { 
	margin-left: 20px;
	color: green;
	font-weight: bold;
	font-size: 20px;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
}
h4 {
	color: #003333;
	line-height: 0px;
	margin-left: 5px;
	margin-bottom: 15px;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
}
textarea {
	margin-left: 20px;
}
b {
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	margin-left: 20px;
	font-size: 15px;
}
#pretty_large_button {
	background-color: #CCFFCC;
	padding: 10px 20px;
    cursor: pointer;
	font-weight: bold;
	font-size: 20px;
	box-shadow: 10px 10px 5px #888888;
}
.button1{
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	border-radius: 5px;
	background: linear-gradient(#666, #333);
    padding: 5px 20px;
    font-size: 11px;
	text-transform: uppercase;
}

.button1:hover {
	color:white;
    cursor: pointer;
	 background: linear-gradient(#999, #666);
}


.buttonOLD {
	background-color: white;
	border-color: #2F0E54;
	border: 4px solid #2F0E54;
	font-weight: bold;
	border-radius: 4px; 
	padding: 0px 4px 0px 4px;
   	color: #2F0E54;
	cursor: pointer;
	font-size: 13px;
}
.buttonOLD:hover {
	background-color: #2F0E54;
	color: white;
	border-color: #2F0E54;
}
#pretty_drop {
	background-color: #FFFFFF;
}
#button_table {
	margin-left: 25px;
}	
.wrapper {
	padding:85px 0;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}
#header {
	margin-top: -85px;
	height:85px;
	z-index:-1;
	background-image: -webkit-linear-gradient(bottom, #05074D 0%, #2F0E54 100%);
}
.right p {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: -10px;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	color: #000000;
}
a:hover {
	font-weight: bold;
	color: red;
}
.left {
	position: relative;
	float: left;
	margin-top: 50px;
	width: 10%;
	height: 400px;
	background-color: #B9D7D9;
	margin-bottom: 10px;
}
.content {
	margin-bottom: -10px;
	z-index:3;
	background-color: #EBEBEB;
	white-space: nowrap;
	min-height: 100%;
	height: 100%;
}
.content2 {
	margin-bottom: -10px;
	z-index:3;
	background-color: #EBEBEB;
	white-space: nowrap;
	min-height: 100%;
}
#footer {
	margin-bottom: -85px;
	height:85px;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	text-align: center;
	background-image: -webkit-linear-gradient(top, #05074D 0%, #2F0E54 100%);
	color: #ffffff;
}
#footer p {
	padding-top: 10px;
}
#navbar {
	top: -10px;
	float: left;
	margin-bottom: 0px;
	padding: 15px 0 0 0;
	margin-left:-30px;
}
#navbar ul{
	list-style-type: none;
	float:left;
	margin-left: -20px;
}
.list_of_elements, .list_of_elements_checked {
	display: inline;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-weight:bold;
	color: #ffffff;
    cursor: pointer;
	float: left;
	z-index:1;
	margin: 0px, 5px, 0px, 5px;
	padding: 10px, 10px,0px,10px;
	min-width: 75px;
	border-radius: 25px;
    border-top: 235px transparent; 
	text-align: center;
}

.list_of_elements:hover {
	background-image: -webkit-radial-gradient(left top, ellipse closest-side, #6E6E6E 0%, #5C5C5C 100%);
	opacity: 0.6;
	overflow:hidden;
	color: #ffffff;
}
.list_of_elements_checked {
	background-image: -webkit-radial-gradient(left top, ellipse closest-side, #6E6E6E 0%, #5C5C5C 100%);
}

*, *:before, *:after{ 
    box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
} 
.img{
	margin-top: 0px;
	margin-left: 45px;
	float:left;
	height:59px;
	overflow: visible;
}
.img img{
	height:59px;
	width:auto;
	padding-right:15px;
	}
/* View CSS */
#manage {
	background-color: blue;
	width: 100%;
	overflow: hidden;
	height: 100%;
	white-space: initial;
}
#left_manage li {
	font-size: 15px;
	margin-left: -3px;
	color: white;
}
#left_manage span:hover {
	color: purple;
} 
.liBullet:hover  {
	color: purple;
} 
#left_manage {
	background-color:#428BCA;
	width: 200px;
	height: 100%;
	float: left;
}
#left_manage_title {
	font-weight: bold;
	font-size: 25px;
	color: red;
	margin-top: -15px;
	margin-left -30px;
	white-space: normal;
	font-weight: normal;
}
#wrapper_right {
	padding: 90px 0 0 0;
	overflow: hidden;
	height: 100%;
}
#right_view_header{
	margin-top: -90px;
	overflow: auto;
	background-color: #FFFFFF;
	max-height:13%;
	min-height: 90px;
	margin-bottom: 0px;	
}
#right_view_content {
	overflow: hidden;
	white-space: nowrap;
	background-color: #CFCAE9;
	min-height: 100%;
	height: 100%;
}
/* submissions form CSS*/
#sub_content {
	overflow: auto;
	min-width:				80%;
	height: 100%;
	width: 100%;
	background-color: #EBEBEB;
}
#subform {
	height: 100%;
}
#sub_main {
	margin-left: 20px;
	background-color: #FFE5E5;
	box-shadow: 10px 10px 5px #888888;
	min-width: 1240px;
}
#sub_optional {
	margin-left: 20px;
	background-color: #EAFFE5;
	box-shadow: 10px 10px 5px #888888;
	min-width: 1240px;
}
#sub_optional b {
	margin-left: 0px;
}

#form_questions_table{
	height: 46px;
}
#form_questions_table td{
}
/* Home CSS */
#welcome {
	overflow: auto;
	min-width: 80%;
	width: 100%;
	z-index:1;
	background-color: #EBEBEB;
}
#welcome_table {
	background-color:#191970;
	top:20%;
    left:20%;
}
/*#welcome_table tbody tr{
	background-color:#EAFFE5;
}*/

#welcome_table tr:nth-of-type(odd) {
	background:  #FFE5E5;
}
#welcome_table tr:nth-of-type(even) {
	background:  #EAFFE5;
}
#welcome_table table,p{
	margin:10px;
}

#nothing tr:nth-of-type(even),#nothing tr:nth-of-type(odd) {
	background:  #FFE5E5;
}
/* copied and modified from http://stackoverflow.com/questions/18431276/how-to-replace-radio-buttons-with-images   */
/* visually hide the default radio button */
.radio {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: auto;
    padding: 10px;
    position: absolute;
    width: 1px;
}
/* make the label relative, add padding to the left for adding the custom radio button */
.radio + label {
    padding-left: 23px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    line-height: 24px;
    margin: 8px 0;
	font-weight: bold;
	color:red;
}
/* :before will be our new button! */
.radio + label:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition(background 250ms ease-in-out);
    -moz-transition(background 250ms ease-in-out);
    -o-transition(background 250ms ease-in-out);
    transition(background 250ms ease-in-out);

    /* Your size */
    width: 15px;
    height: 15px;
    /* This should be: 0 - (height / 2) */
    margin-top: -7px;
    /* Your default background color */
    background: #f97e76;
}
.radio:checked + label:before {
    /* Your checked background color */
    background: #a8bd44;
	color:red;
}
.radio:not(:checked) + label div {
/* 	display: none;*/
	color:red;
}
.radio + label div{
	color: #a8bd44;	
}
.radio + label:hover div{
	display:initial;
    line-height: 0px;
	color:inherit;
	padding: -10px -10px 0 0;
}

.radio:checked + label:hover div{
	color: #a8bd44;	
}

/* email css*/
.sortedTable {
	color: #ffffff;
}
