html {
	background-color: #999999;
	/*font-family: "Arial";*/
	
	min-height:98%;/* change together*/
	height: 98%; /* and adjust manage_left home_left home_right after changing them cause they all have "fixed" positions*/
}

body {
	/*background-color: ;*/
	height:98%;
	/*margin:0px;*/
	width: 99%;
	font-family:Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	/*background-color: #FFFFFF;*/
}

h1 {
	font-weight: bold;
	margin-left: 28px;
	color: #990000;
	font-size: 30px;
	line-height:0px;
	font-family: "Arial";
}


h2 {
	font-weight:normal;
	margin-left: 20px;
	color: red;
	font-size: 30px;
	line-height:0px;
	font-family: "Arial";
}

h2 p {
	font-family:Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	line-height:0px;
}

h3 { 
	margin-left: 20px;
	color: green;
	font-weight: bold;
	font-size: 20px;
	font-family: "Arial";
}

h4 {
	color: #003333;
	line-height: 0px;
	margin-left: 5px;
	margin-bottom: 15px;
	font-family: Verdana, sans-serif;
}

h4 p {
	line-height: 0px;
}
body p{
    font-family: Arial, Helvetica, sans-serif;
	padding:10px 0 0 0;
	font-size: 12px;
	margin-left: 20px;
	line-height:16px;
}
table {
	margin-left: 20px;
}
textarea {
	margin-left: 20px;
}
th {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	margin-left: 20px;
}	
td {
	font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
b {
    font-family: Arial, Helvetica, sans-serif;
	margin-left: 20px;
	font-size: 15px;
}

/*li {
	list-style-type: disc
}*/

#pretty_large_button {
	background-color: #CCFFCC;
	padding: 10px 20px;
	font-weight: bold;
	font-size: 20px;
	box-shadow: 10px 10px 5px #888888;
}
#pretty_small_button {
	background-color: #CCFFCC;
	font-weight: bold;
	font-size: 15px;
	box-shadow: 5px 5px 5px #888888;
}

#pretty_drop {
	background-color: #FFFFFF;
}

#button_table {
	margin-left: 25px;
}	
#headerNbody {
	min-height:90%;
	height:90%;
	width: 99%;
}

#header {
	overflow: hidden;
	z-index: 1;
	position: fixed;
	width: 99%;
	margin-top: -20px;
	min-height: 85px;
	background-image:url(../images/header_background.jpg);
	margin-bottom: 8px;
}

.right p {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: -10px;
	font-family: Garamond, serif;
	color: #000000;
}

a:hover {
	font-weight: bold;
	color: red;
}

a:hover li {
	color: red;		
}

.left {
	position: relative;
	float: left;
	margin-top: 50px;
	width: 10%;
	height: 400px;
	background-color: #B9D7D9;
	margin-bottom: 10px;
}

.content {
	position: relative;
	float: left;
	margin-top: 69px;
	width: 101%;
	margin-bottom: 3px;
	/*min-width: 100%;*/
	background-color: #ffffff;
	white-space: nowrap;
	min-height: 93%;
}

#footer {
	height: 45px;
	clear: both;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	text-align: center;
	z-index: 1;
	background-image:url(../images/header_background.jpg);
	color: #ffffff;
	width: 100%;
	bottom:0px;
}

#footer p {
	padding-top: 10px;
	position: relative;
}
				
#navbar {
	overflow: hidden;
	position: fixed;
	top: -10px;
	float: left;
	margin: 0;
	padding: 15px 0 0 0;
	margin-left:-30px;
}


#navbar ul{
	overflow: hidden;
	list-style-type: none;
	position: fixed;
	min-width: 1000px;
	/*margin-right: 100px;*/
	/*width: 100%;*/
}
			
.list_of_elements {
	display: inline;
	font-family: Futura, Tahoma, sans-serif;
	color: #ffffff;
	float: left;
	padding-top: 20px;
	margin-top 100px;
	min-width: 75px;
	border-radius: 5px 5px;
	text-align: center;
}
.img{
	float:left;
	height:50px;
}
.img img{
	height:50px;
	width:auto;
	padding-right:15px;
}

/* View CSS */

#manage {
	min-height: 100%;
	white-space: initial;
}
#left_manage li {
	font-size: 16px;
	margin-left: -1px;
}


/* hover of list items in Ladder = cool*/
/*#left_view li:hover li {
	color: red;
}*/ 

#left_manage {
	min-height: 80%;
	max-height: 80%;
	position: fixed;
	overflow: auto;
	white-space: nowrap;
	width:15%;
	max-width: 15%;
	float: left;
	background-color: #EAFFE5;
}

#left_manage_title {
	font-weight: bold;
	font-size: 25px;
	color: red;
	margin-top: -15px;
	margin-left -30px;
	white-space: normal;
	font-weight: normal;
}

/*#left_view p {
	white-space: normal;
	color: red;
	margin-top: -10px;
}*/

#wrapper_right { /* wraps right_view header and right_view_contenr*/
	overflow: auto;
	margin-bottom: 40px;
	height: 100%;
	
	min-height: 100%;
	width: 83.5%;
	overflow: auto;
	max-width 83.5%;
	margin-left: 15.5%;
}

/* already tried remove white space, better let it go */
#right_view_header{
	overflow: auto;
	background-color: #EBEBEB;
	min-height: 4%;
	height: 96%;
	margin-bottom: 2px;	
	/*opacity: 0.2;*/
}

#right_view_content {
	overflow: auto;
	position: absolute; /*dont change */
	white-space: nowrap;
	background-color: #FFE5E5;
	min-height: 94.5%;
	height: 94%;
	width: 84.5%; /* reaction is based on position value */
}

/* submissions form CSS*/

#sub_content {
	overflow: auto;
	min-width:				80%;
	height: 100%;
	width: 100%;
	background-color: #EBEBEB;
}

#subform {
	height: 100%;
}

#sub_main {
	margin-left: 20px;
	background-color: #FFE5E5;
	box-shadow: 10px 10px 5px #888888;
	min-width: 1240px;
	height: 100%;
}
#sub_optional {
	margin-left: 20px;
	background-color: #EAFFE5;
	box-shadow: 10px 10px 5px #888888;
	min-width: 1240px;
}

#sub_optional b {
	margin-left: 0px;
}

#form_questions_table tr{
	background-color: white;
}

/* Home CSS */

#welcome {
	top 0%;
	height: 16%;
	position:fixed;
 	width:99%;
	background:#EBEBEB;
}

#home_left {
	top:27.5%;   
	/*left:0.65%;   */
	left 10px;
	background-color: #EAFFE5;
	position: fixed;
 	width:50%;
	min-height: 64%;
}

#home_right {
	top:27.5%;   
	left:50.85%; 
	background-color: #FFE5E5;
	position:fixed;
 	width:48.7%;
	min-height: 64%;
}

#w_top_left {
	top:23.5%;   
	left:2%;   
	background-color: #ECFFCE;
	position: fixed;
 	width:50%;
 	height:37.7%;
}
#w_top_right {
	top:23.5%;   
	left:52%; 
	background-color: #FFFFCC;
	position:fixed;
 	width:47%;
 	height:37.7%;
}
#w_bottom_right {
    top:58%;   
	left:52%; 
	background-color: #CCFFCC;
 	height:34.7%;
	position:fixed;
 	width:47%;
}

#w_bottom_left {
    top:58%;   
	left:2%; 
	background-color: #EFEEFE;
	position:fixed;
 	width:50%;
 	height:34.7%;
}

