html {
	min-height:100%;
	padding:0;
	margin:0;
	background-image: -webkit-radial-gradient(left top, ellipse closest-side, #6E6E6E 0%, #5C5C5C 100%);
}
body {
	min-height:100%;
	padding:0;
	margin:0;
	width: 100%;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
}
h1 {
	font-weight: bold;
	margin-left: 28px;
	color: #990000;
	font-size: 30px;
	line-height:0px;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
}
h2 {
	margin-left: 20px;
	font-family: 'Gotham Rounded A', 'Gotham Rounded B', sans-serif;
	font-weight: 500;
	color: red;
	font-size: 30px;
}
h2 p {
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	line-height:0px;
}
h3 { 
	margin-left: 20px;
	color: green;
	font-weight: bold;
	font-size: 20px;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
}
h4 {
	color: #003333;
	line-height: 0px;
	margin-left: 5px;
	margin-bottom: 15px;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
}
textarea {
	margin-left: 20px;
}
b {
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	margin-left: 20px;
	font-size: 15px;
}
#pretty_large_button {
	background-color: #CCFFCC;
	padding: 10px 20px;
    cursor: pointer;
	font-weight: bold;
	font-size: 20px;
	box-shadow: 10px 10px 5px #888888;
}
.button1{
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	border-radius: 5px;
	background: linear-gradient(#666, #333);
    padding: 5px 20px;
    font-size: 11px;
	text-transform: uppercase;
}

.button1:hover {
	color:white;
    cursor: pointer;
	 background: linear-gradient(#999, #666);
}


.buttonOLD {
	background-color: white;
	border-color: #2F0E54;
	border: 4px solid #2F0E54;
	font-weight: bold;
	border-radius: 4px; 
	padding: 0px 4px 0px 4px;
   	color: #2F0E54;
	cursor: pointer;
	font-size: 13px;
}
.buttonOLD:hover {
	background-color: #2F0E54;
	color: white;
	border-color: #2F0E54;
}
#pretty_drop {
	background-color: #FFFFFF;
}
#button_table {
	margin-left: 25px;
}	
.wrapper {
	padding: 85px 0 60px 0;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}
#header {
	margin-top: -85px;
	height:85px;
	z-index:-1;
	background-color: #16074F;
}
.right p {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: -10px;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	color: #000000;
}
a:hover {
	font-weight: bold;
	color: red;
}
.left {
	position: relative;
	float: left;
	margin-top: 50px;
	width: 10%;
	height: 400px;
	background-color: #B9D7D9;
	margin-bottom: 10px;
}
.content, .content2 {
	margin-bottom: -10px;
	z-index:3;
	background-color: #EBEBEB;
	white-space: nowrap;
	min-height: 100%;
}
.content {
	height: 100%;
}
#footer {
	margin-bottom: -60px;
	height: 60px;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	text-align: center;
/*	background-image: -webkit-linear-gradient(top, #05074D 0%, #2F0E54 100%);*/
	/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #05074D 0%, #2F0E54 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #05074D 0%, #2F0E54 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #05074D 0%, #2F0E54 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #05074D), color-stop(1, #2F0E54));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #05074D 0%, #2F0E54 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #05074D 0%, #2F0E54 100%);
	color: #ffffff;
}
#footer p {
	padding-top: 20px;
	font-size: 13px;
	color: #999999;
}

#footer div {
	margin-top: -1px;
}

#navbar {
	top: -10px;
	float: left;
/*	margin-bottom: 0px;*/
	padding: 25px 0 0 0;
	margin-left:-30px;
}
#navbar ul{
	list-style-type: none;
	float:left;
	margin-left: -20px;
	height: 0px;
}
.list_of_elements,
.list_of_elements_checked {
	display: inline;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-weight:bold;
	color: #ffffff;
    cursor: pointer;
	float: left;
	z-index:1;

	margin-left: -13px;
	margin-right: -13px;
/*	margin: 6.9px 10px 0 10px;
	padding: 10px 13px 3px 13px;
	min-width: 75px;
	overflow:hidden;
	border-radius: 20px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
    border-bottom: 60px transparent;  */

	text-align: center;
	text-shadow: 0 0 7px rgba(0,0,0,0.4);
}

/*colored tabs: delete to undo */
.tab_font {
	font-size: 13px;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
}

.tab_text {
	margin-top: 8px;
	padding: 0 12px;
}

#home_tab_parts,#home_tab2_parts,#home_div {
background-color: #e18728;
}
.list_of_elements_checked #home_tab2_first_parts{
background-color: #e18728;
}
#manage_tab_parts,
#manage_tab2_parts,
#manage_div,
#submit_tab_parts,
#settings_tab_last_parts,
#submit_div {
background-color:#4472B9;
}

#emails_tab_parts,
#emails_tab2_parts,
#emails_div {
background-color:#4AC454;
}

#settings_tab_parts,#settings_tab2_parts,
#settings_tab_last_parts,#settings_div {
background-color: #BE4C39;
}
.list_of_elements_checked #settings_tab2_last_parts{
background-color: #BE4C39;
}

#settings_tab_last_parts{
background-color: #BE4C39;
display: block;
}
#home_tab_first_parts {
background-color: #e18728;
display: block;
}
.tab_wrapper:hover #home_tab_parts,
.tab_wrapper:hover #home_tab_first_parts {
background-color: #d17828;
}

.tab_wrapper:hover #manage_tab_parts {
background-color:#4742B9;
}

.tab_wrapper:hover #emails_tab_parts {
background-color:#4CA454;
}

.tab_wrapper:hover #settings_tab_parts,
.tab_wrapper:hover #settings_tab_last_parts {
background-color: #AE4019;
}
#home_tab_left_circle{
}
#home_tab_first_right_circle{
	background-color: #16074F;
	display: block;
}
.list_of_elements #home_tab_first_parts{
}
.list_of_elements #home_tab_first_left_circle{
	background-color: #16074F;
	display: block;
}

#manage_tab2_left_circle{
background-color: #e18728;
}
#emails_tab2_left_circle{
background-color:#4472B9;
}
#settings_tab2_left_circle{
background-color:#4AC454;
}
#settings_tab_last_right_circle{
	background-color: #16074F;
	display: block;
}
.list_of_elements .tab_wrapper,
.list_of_elements_checked .tab_wrapper{
	margin: 6.9px 0px 0 0px;
	padding: 10px 13px 3px 13px;
	z-index: 10;
	overflow: hidden;
}

.list_of_elements .tab_wrapper .tab_left,
.list_of_elements_checked .tab_wrapper .tab_left,
.list_of_elements .tab_wrapper .tab_right,
.list_of_elements_checked .tab_wrapper .tab_right {
	height: 13px;
	background-color: #05074D;
	width: 13px;
	z-index: 10;
	float: left;
	border-top: 60px transparent; 
	margin-top: 8.3px;
	overflow:hidden;
}

.list_of_elements .tab_wrapper .tab_left,
.list_of_elements_checked .tab_wrapper .tab_left {
	margin-left: -13px;
}
.list_of_elements .tab_wrapper .tab_right,
.list_of_elements_checked .tab_wrapper .tab_right {
	margin-right: -13px;
}

.list_of_elements .tab_wrapper .tab_content,
.list_of_elements_checked .tab_wrapper .tab_content{
	border-radius: 20px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom: 60px transparent; 
	float: left;
	margin-top: -9px;
	padding-bottom: 4.7px;
}
.list_of_elements .tab_wrapper:hover .tab_content,
.list_of_elements .tab_wrapper:hover .tab_left,
.list_of_elements .tab_wrapper:hover .tab_right{
	background-color: blue;
}
 .list_of_elements_checked .tab_wrapper:hover .tab_content,
.list_of_elements_checked .tab_wrapper:hover .tab_left,
.list_of_elements_checked .tab_wrapper:hover .tab_right{
	background-color: orange;
}

.list_of_elements .tab_wrapper .tab_right > div,
.list_of_elements_checked .tab_wrapper .tab_right > div {
	background-color: #16074F;
	width: 13px;
	min-height:100%; 
	height:100%;
	border-bottom-left-radius: 1000px; 
}
.list_of_elements .tab_wrapper .tab_left > div,
.list_of_elements_checked .tab_wrapper .tab_left > div{
	background-color: #16074F;
	width: 13px;
	min-height:100%; 
	height:100%;
	border-bottom-right-radius: 1000px; 
}
.list_of_elements .tab_wrapper .tab_right > div,
.list_of_elements .tab_wrapper .tab_left > div,
.list_of_elements .tab_wrapper .tab_right,
.list_of_elements .tab_wrapper .tab_left {
	display:none;
}
.list_of_elements_checked .tab_wrapper:hover .tab_right > div,
.list_of_elements_checked .tab_wrapper .tab_left > div,
.list_of_elements_checked .tab_wrapper .tab_right,
.list_of_elements_checked .tab_wrapper .tab_left {
	
	display:block;
	z-index: 50;
}
.tab_div {
	background-color: #e18728;
	margin-top: 4px;
	height: 6px;
	width: 100%;
	clear:both;
	float:left;
}

/* end colored tabs */
.list_of_elements:hover {
/*	opacity: 0.6;*/
/*	background-image: -webkit-radial-gradient(left top, ellipse closest-side, #6E6E6E 0%, #5C5C5C 100%);
	opacity: 0.6;
	overflow:hidden;
	color: #ffffff;*/
}
.list_of_elements_checked {
/*	background-image: -webkit-radial-gradient(left top, ellipse closest-side, #6E6E6E 0%, #5C5C5C 100%);*/
}
/*.list_of_elements_checked:hover {
	background-color: red;
}*/
*, *:before, *:after{ 
    box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
} 
.img{
	margin-top: -15px;
	margin-left: 45px;
	float:left;
	height:65px;
	overflow: visible;
}
.img img{
	height:65px;
	width:200px;
	padding-right:15px;
	}
/* Manage CSS */
#manage {
	background-color:#4472B9;
	/*background-color: blue;*/
	width: 100%;
	overflow: hidden;
	height: 100%;
	white-space: initial;
}
#left_manage li {
	font-size: 15px;
	margin-left: -3px;
	color: white;
}
#left_manage span:hover {
	color: purple;
} 
.liBullet:hover  {
	color: purple;
} 
#left_manage {
	background-color:#4472B9;
	/*background-color:#428BCA;*/
	/*background-color:#4472B9;*/
	width: 200px;
	height: 100%;
	float: left;
}
#left_manage_title {
	font-weight: bold;
	font-size: 25px;
	color: red;
	margin-top: -15px;
	margin-left -30px;
	white-space: normal;
	font-weight: normal;
}
#wrapper_right {
	padding: 70px 0 0 0;
	border-top-left-radius: 20px;
	overflow: hidden;
	height: 100%;
}
#right_view_header{
	margin-top: -70px;
	overflow: auto;
	background-color: #335566;
	color: white;
/*	max-height:13%;
	min-height: 90px;*/
	margin-bottom: 0px;	
	height: 70px;
}
#right_view_header label{
	font-size: 14px;
	margin-left: 10px;
}
#right_view_content {
	overflow: hidden;
	white-space: nowrap;
	background-color: #CFCAE9;
	min-height: 100%;
	height: 100%;
}
.shortText{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	height: 100%;
	width: 100%;
	cursor: pointer;
	position: relative;
	display: inline-block;
}
.fullText{
	white-space: pre-wrap;
	overflow: hidden;
	height: 100%;
	width: 100%;
	cursor: pointer;
	display: inline-block;
}
/* submissions form CSS*/
#sub_content {
	overflow: auto;
	min-width:				80%;
	height: 100%;
	background-color: #EBEBEB;
}
#subform {
	height: 100%;
}
#sub_main {
	overflow: auto;
	background-color: #FFE5E5;
	box-shadow: 10px 10px 5px #888888;
	min-width: 100%;
}
#sub_optional {
	overflow: auto;
	background-color: #EAFFE5;
	box-shadow: 10px 10px 5px #888888;
	min-width: 100%;
}
#sub_optional b {
	margin-left: 0px;
}

#form_questions_table{
	height: 46px;
}
#form_questions_table td{
}
/* Home CSS */
#welcome {
	overflow: auto;
	min-width: 80%;
	width: 100%;
	z-index:1;
	background-color: #EBEBEB;
}
#welcome_table {
	background-color:#191970;
	top:20%;
    left:20%;
}
/*#welcome_table tbody tr{
	background-color:#EAFFE5;
}*/

#welcome_table tr:nth-of-type(odd) {
	background:  #FFE5E5;
}
#welcome_table tr:nth-of-type(even) {
	background:  #EAFFE5;
}
#welcome_table table,p{
	margin:10px;
}

#nothing tr:nth-of-type(even),#nothing tr:nth-of-type(odd) {
	background:  #FFE5E5;
}
/* copied and modified from http://stackoverflow.com/questions/18431276/how-to-replace-radio-buttons-with-images   */
/* visually hide the default radio button */
.radio {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: auto;
    padding: 10px;
    position: absolute;
    width: 1px;
}
/* make the label relative, add padding to the left for adding the custom radio button */
.radio + label {
    padding-left: 23px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    line-height: 24px;
    margin: 8px 0;
	font-weight: bold;
	color:red;
}
/* :before will be our new button! */
.radio + label:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition(background 250ms ease-in-out);
    -moz-transition(background 250ms ease-in-out);
    -o-transition(background 250ms ease-in-out);
    transition(background 250ms ease-in-out);

    /* Your size */
    width: 15px;
    height: 15px;
    /* This should be: 0 - (height / 2) */
    margin-top: -7px;
    /* Your default background color */
    background: #f97e76;
}
.radio:checked + label:before {
    /* Your checked background color */
    background: #a8bd44;
	color:red;
}
.radio:not(:checked) + label div {
/* 	display: none;*/
	color:red;
}
.radio + label div{
	color: #a8bd44;	
}
.radio + label:hover div{
	display:initial;
    line-height: 0px;
	color:inherit;
	padding: -10px -10px 0 0;
}

.radio:checked + label:hover div{
	color: #a8bd44;	
}

/* email css*/
.sortedTable {
	color: #ffffff;
}
